* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
}

.quotes h1 {
  background-color: #8b0000;
  padding: 20px;
  color: white;
  height: 40px;
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.autor-quotes h2,
.famous-people-quotes h2 {
  padding-left: 24.5rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: black;
}

.autor-quotes ul,
.famous-people-quotes ul {
  width: 70vh;
  margin-left: 390px;
  list-style: none;
}

.autor-quotes ul li,
.famous-people-quotes ul li {
  font-size: 0.7rem;
  text-align: right;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
}

.autor-quotes ul li blockquote,
.famous-people-quotes ul li blockquote {
  font-family: system-ui;
  font-size: 0.9rem;
  font-weight: 0.3px bold;
  font-style: italic;
  padding: 0.5rem;
  text-align: center;
}

.autor-quotes ul li figcaption,
.famous-people-quotes ul li figcaption {
  font-weight: 0.4px bold;
}

.autor-quotes ul li.wilde,
.autor-quotes ul li.seuss,
.autor-quotes ul li.rowling {
  background-color: #d0f0c0;
}

.famous-people-quotes ul li.dali,
.famous-people-quotes ul li.jobs {
  background-color: #add8e6;
}
